@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Jost:wght@100;200;300;400;500;600;700&family=Playfair+Display&family=Quicksand:wght@500&family=Rokkitt&display=swap');

body {
    font-family: 'Jost', sans-serif;
    scroll-behavior: smooth;
  background-color:#F5ECD7;

}
*{
  scroll-behavior: smooth;
}


nav{
  z-index : 52 !important;
}

.gradientBg{
  background: linear-gradient(99deg, #EE9Ae5 0%, #5961F9 100%);
}


